{
	"parserOptions": {
		"ecmaVersion": 2022
	},
	"env": {
		"es6": true,
		"browser": true
	},
	"globals": {
		"physion": "readonly"
	},
	"extends": [
		"eslint:recommended"
	],
	"rules": {
		"quotes": [
			1,
			"double"
		],
		"no-unused-vars": "off"
	}
}
